* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 10rem;
  background-color: #333;
  color: whitesmoke;
}

header h1 {
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}

main {
  padding: 3rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .card {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 0.1rem;
  margin: 0.5rem 0;
  padding: 5px;
}

footer {
  padding: 8px 15px;
  background-color: #333;
  color: #9a9ad6;
  text-align: end;
}

.line {
  text-decoration: line-through;
}
